<div>
    <h2>{{ titulo }}</h2>
    <article class="film-container">
        @for(film of peliculas | paginate: { itemsPerPage: 19, currentPage: page, totalItems: pages <= 500 ? pages : 500 }; track film.id; let i = $index) {
            @defer(on viewport){
                <app-film-card [film]="film" />
            } @placeholder {
                <div class="card-placeholder"></div>
            }
        }
    </article>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>