<div class="pantalla" [style]="{'background-color': backgroundColor}"></div>
<div class="film-card" (click)="showDialog()">
    <h3>{{ film.title }}</h3>
    <p><strong>Lanzamiento:</strong> {{ film.release_date }}</p>
    <p><strong>Puntuación:</strong> {{ film.vote_average }}</p>
    <img class="film-backdrop" src="https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}" alt="{{ film.title }}">
    <p><strong>Sinopsis:</strong> {{ film.overview }}</p>
    <dialog class="filmInfo" [attr.open]="modalVisible ? '' : null" >
        <div class="top-bar"><button (click)="closeDialog($event)">×</button></div>
        <div class="filmInfo-content">
            <img class="film-poster" src="https://image.tmdb.org/t/p/original/{{ film.poster_path }}" alt="{{ film.title }}">
        </div>
    </dialog>
</div>